:root {
    --base: white;
    --spacing: 0px;
    --blur: 0px;
}

* {
    box-sizing: border-box;
}

html body {
    font-family: 'Baloo Tamma 2', cursive;
    background-image: linear-gradient(#35477d, #6c5b7b, #c06c84, #f67280);;
    width: 100%;
    min-height: 100vh;
    background-size: cover; 
}

.controls {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 5%;
    color: white;
}

.input-icons i { 
  position: absolute; 
  margin-top: 12px;
  margin-left: 26rem;
  text-align: center;
} 

/* .input-icons { 
  width: 100%; 
}  */

.icon { 
  padding: 10px; 
  color: black; 
  min-width: 50px; 
  text-align: center; 
} 

.search {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 2rem;
    width: 50%;
    height: 60px;
    font-size: 20px;
    padding-left: 70px;
}

input:focus {
    outline: none;
}

.gallery {
    margin-top: 50px;
    text-align: center;
    background-color: transparent;  
    /* -webkit-animation: spin 12s linear infinite;
    animation: spin 12s linear infinite; */
    }

.gallery img {

    width: 300px;
    height: 300px;
    box-shadow: 0 10px 20px rgba(161, 6, 6, 1.5);
    margin-right: 20px;
    /* border-radius: 148px;
    border: solid 2px white; */
    transition: border-radius 1s ease-out;
    border-radius: 59% 41% 65% 36% / 44% 45% 55% 56%;
    -webkit-animation: morph 5s ease-in-out infinite both alternate;
            animation: morph 5s ease-in-out infinite both alternate;

    
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}


@-webkit-keyframes morph {
    0% {
      border-radius: 59% 41% 65% 36% / 44% 45% 55% 56%;
    }
    100% {
      border-radius: 30% 70%;
    }
  }
  
  @keyframes morph {
    0% {
      border-radius: 59% 41% 65% 36% / 44% 45% 55% 56%;
    }
    100% {
      border-radius: 30% 60%;
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(1turn);
              transform: rotate(1turn);
    }
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(1turn);
              transform: rotate(1turn);
    }
  }