<div class="controls">
    <label for="spacing">Spacing : </label>
    <input type="range" id="spacing" name="spacing" min="10" max="100" value="10" data-sizing="px" />

    <label for="blur">Blur : </label>
    <input type="range" id="blur" name="blur" min="0" max="25" value="0" data-sizing="px" />

    <label for="base">Base Color : </label>
    <input type="color" id="base" name="base" />
</div>

<h1><i class="far fa-star"></i> | Mystragram</h1>
<div class="input-icons">
    <!-- <i class="fas fa-search icon"></i> -->
    <input type="text" name="search" placeholder="Search photos" class="search">
</div>

<div class="spin">
    <div class="gallery">
        <!-- img -->
    </div>
</div>